server:
  port: 8085
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/mall4j_cbec_b2c?rewriteBatchedStatements=true&useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&nullCatalogMeansCurrent=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 0
      maximum-pool-size: 100
      idle-timeout: 10000
      auto-commit: true
      connection-test-query: select 1
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      database: 0
logging:
  config: classpath:logback/logback-dev.xml

