.page-personal-recommend {
  padding: 24rpx;
  background-color: #f5f5f5;
  min-height: 100vh;
  box-sizing: border-box;

  .recommend-con {
    background-color: #fff;
    padding: 24rpx;
    border-radius: 12rpx;

    .recommend-set {
      padding-bottom: 32rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .recommend-til {
        font-size: 30rpx;
        font-weight: 600;
      }

      .switch-btn {
        margin-right: -20rpx;
      }
    }

    .recommend-tips {
      font-size: 26rpx;
      color: #666666;
      line-height: 38rpx;
    }
  }

  .confirm-box {
    padding: 12rpx 0;
    margin-top: 40rpx;

    .confirm-btn {
      width: 100%;
      height: 75rpx;
      line-height: 75rpx;
      text-align: center;
      border-radius: 75rpx;
      color: #fff;
      font-size: 28rpx;
      font-weight: bold;
      background-color: #F81A1A;
    }
  }
}
