.page-pay-success {
  .pay-success {
    padding-top: 180rpx;
    .pay-det {
      text-align: center;
      font-size: 28rpx;
      .number {
        font-family: arial;
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-weight: 600;
        margin-top: 20rpx;
        .price {
          font-size: 56rpx;
          color: #333;
        }
      }
    }
    .pay-bottom {
      position: absolute;
      margin-top: 40rpx;
      width: 100%;
      text-align: center;
      font-size: 24rpx;
      .view-code {
        width: 220rpx;
        height: 64rpx;
        line-height: 64rpx;
        margin: auto;
        border-radius: 70rpx;
        background: #f81a1a;
        color: #fff;
      }
      .other-action {
        margin-top: 30rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        .item {
          padding: 0 30rpx;
          color: #f81a1a;
          &.bl {
            border-left: 1px solid #eee;
          }
        }
      }
    }
  }
  /* 查看提货码弹窗 */
  .popup-hide {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .popup-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .code-box {
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 30rpx;
      overflow: hidden;
      background-color: #fff;
      border-radius: 10rpx 10rpx 0 0;
      .con-tit {
        padding-bottom: 30rpx;
        font-size: 28rpx;
        text-align: center;
        font-weight: 600;
      }
      .address {
        font-size: 24rpx;
        padding-bottom: 10rpx;
        border-bottom: 2rpx dashed #ddd;
        .item {
          display: flex;
          margin-bottom: 20rpx;
          .label {
            color: #999;
          }
          .det {
            flex: 1;
          }
        }
      }
      .code {
        width: 340rpx;
        height: 340rpx;
        padding: 20rpx;
        border: 2rpx solid #eee;
        font-size: 0;
        margin: 40rpx auto 20rpx;
        image {
          width: 100%;
          height: 100%;
        }
      }
      .code-num {
        text-align: center;
        font-family: arial;
        font-size: 24rpx;
        font-weight: 600;
      }
      .code-btn {
        height: 70rpx;
        line-height: 70rpx;
        margin: 40rpx 40rpx 10rpx;
        border-radius: 70rpx;
        background: #f81a1a;
        color: #fff;
        font-size: 24rpx;
        text-align: center;
      }
    }
  }
  .container {
    height: 680rpx;
  }
}
