.component-prod-items {
  width: 345rpx;
  display: inline-block;
  background: #fff;
  padding: 20rpx;
  box-sizing: border-box;
  margin-left: 20rpx;
  margin-bottom: 20rpx;
  border-radius: 10rpx;
  .hot-imagecont {
    text-align: center;
    font-size: 0;
    width: 305rpx;
    height: 305rpx;
  }
  .hot-text {
    margin-top: 20rpx;
    .prod-info {
      font-size: 20rpx;
      color: #777;
      margin-top: 8rpx;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .prod-text-info {
      position: relative;
      height: 40rpx;
      line-height: 40rpx;
      font-family: Arial;
      margin-top: 20rpx;
      .price {
        line-height: 40rpx;
        color: #F81A1A;
        white-space: nowrap;
        .big-num {
          font-size: 28rpx;
        }
        .sold-num {
          margin-left: 10rpx;
        }
      }
    }
  }
}
.hot-imagecont {
  .hotsaleimg {
    width: 100%;
    height: 100%;
    border-radius: 10rpx;
  }
}
.hot-text {
  .hotprod-text {
    height: 76rpx;
    width: 100%;
    line-height: 38rpx;
    font-size: 28rpx;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000;
  }
}
.collection-row {
  display: flex;
  justify-content: space-between;
}
.deadline-price {
  font-size: 22rpx;
  margin-right: 5rpx;
}
.collection-btn {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10rpx;
}
.activity-box {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 4rpx;
}
.activity {
  background-color: #F81A1A;
  display: inline-block;
  padding: 0 10rpx;
  color: #fff;
  font-size: 24rpx;
  border-radius: 10rpx;
  margin-right: 6rpx;
}
