.component-outlet-config-paper-size{
  .paper-size-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .box-left,
    .box-right {
      width: 320px;
      .img {
        border: 1px solid #ccc;
        padding: 10px;
        height: 600px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}