.page-search-prod-show{
  background: #f4f4f4;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: var(--mall4j-safe-area-inset-bottom);
  &.container {
    padding-top: 1px;
    padding-bottom: 0;
  }
  /* 搜索栏 */
  .fixed-box {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
    background: #fff;
    .tabs {
      width: 394rpx;
      height: 100%;
      margin-left: 32rpx;
      display: flex;
      justify-content: space-between;
      .tab-item {
        position: relative;
        display: flex;
        font-size: 28rpx;
        align-items: center;
      }
    }
  }
  .white {
    width: 100%;
    height: 4px;
    background: #fff;
    bottom: -2px;
    z-index: -1;
    position: absolute;
  }
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #777;
    background: #fff;
    z-index: 3;
    padding: 30rpx 24rpx;
    box-sizing: border-box;
    .search-box {
      position: relative;
      height: 64rpx;
      background: #f7f7f7;
      z-index: 999;
      width: 80%;
      border-radius: 50rpx;
      margin-right: 24rpx;
      flex: 1;
      .search-img {
        width: 32rpx;
        height: 32rpx;
        position: absolute;
        left: 16rpx;
        top: 16rpx;
        display: block;
      }
      .search-close {
        width: 32rpx;
        height: 32rpx;
        position: absolute;
        right: 20rpx;
        top: 16rpx;
        display: block;
      }
    }
    .search-text {
      color: #333;
      font-size: 28rpx;
      font-family: PingFang SC-Regular, PingFang SC;
      font-weight: 400;
    }
    .search-hint {
      font-size: 28rpx;
      position: absolute;
      right: 30rpx;
      top: 31rpx;
      color: #f81a1a;
    }
  }
  .sear-input {
    height: 60rpx;
    border: 0;
    margin: 0 64rpx 0 64rpx;
    line-height: 48rpx;
    vertical-align: top;
    background: #f7f7f7;
    font-size: 28rpx;
    color: #333;
  }
  .list-img {
    width: 32rpx;
    height: 32rpx;
    line-height: 0;
    margin-bottom: 2rpx;
    image {
      width: 100%;
      height: 100%;
    }
  }
  .type-tabs {
    width: 100%;
    height: 83rpx;
    line-height: 83rpx;
    padding: 10rpx 0;
    z-index: 999;
    background: #fff;
    display: flex;
    padding: 0 24rpx;
    box-sizing: border-box;
    border-bottom: 1px solid #e1e1e1;
  }
  .type-tabs-shop {
    border-bottom: none;
  }
  .type-tab-item {
    position: relative;
    flex: 1;
    text-align: center;
    font-size: 28rpx;
    color: #999999;
  }
  .type-select {
    color: #333333;
    font-weight: bold;
    border-bottom: 4rpx solid #f81a1a;
  }
  .filt {
    width: 100%;
    height: 85rpx;
    padding-top: 2px;
    line-height: 85rpx;
    background: #fff;
    display: flex;
    align-items: center;
  }
  .filt-r {
    margin-left: 126rpx;
    display: flex;
    align-items: center;
    .text {
      font-size: 28rpx;
      color: #5b5b5b;
      margin-right: 6rpx;
      font-family: PingFang SC-Regular, PingFang SC;
    }
  }
  .line {
    height: 44rpx;
    margin: 0 24rpx;
    border-left: 1px solid #e1e1e1;
  }
  .filt-b {
    display: flex;
    align-items: center;
  }
  /* .fixed-box .tabs::after {
    content: '';
    background-color: #e1e1e1;
    left: 0;
    height: 1px;
    transform-origin: 50% 100% 0;
    bottom: 0;
    position: absolute;
    display: block;
    width: 100%;
  } */
  .tab-item.up,
  .tab-item.down {
    color: #f81a1a;
  }
  .tab-item.upEng,
  .tab-item.downEng {
    color: #f81a1a;
  }
  .tab-item.downEng::after,
  .tab-item.upEng::after {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 230rpx;
    top: 38rpx;
    border: 10rpx solid transparent;
  }
  .tab-item {
    &.down {
      &::after {
        border-top: 10rpx solid #f81a1a;
      }
    }
    &.up {
      &::after {
        top: 30rpx;
        border-bottom: 10rpx solid #f81a1a;
      }
    }
    &.downEng {
      &::after {
        border-top: 10rpx solid #f81a1a;
      }
    }
    &.upEng {
      &::after {
        top: 30rpx;
        border-bottom: 10rpx solid #f81a1a;
      }
    }
    .price-icon {
      display: flex;
      flex-direction: column;
      .price-up {
        display: inline-block;
        margin-left: 10rpx;
        border-left: 8rpx solid transparent;
        border-right: 8rpx solid transparent;
        border-bottom: 8rpx solid #5b5b5b;
        border-top: none;
        width: 0;
        height: 0;
      }
      .price-bottom {
        display: inline-block;
        margin-left: 10rpx;
        border-left: 8rpx solid transparent;
        border-right: 8rpx solid transparent;
        border-top: 8rpx solid #5b5b5b;
        border-bottom: none;
        width: 0;
        height: 0;
        margin-top: 4rpx;
      }
      .price-up-active {
        border-top: none;
        border-bottom: 8rpx solid #f81a1a;
      }
      .price-bottom-active {
        border-bottom: none;
        border-top: 8rpx solid #f81a1a;
      }
    }
  }
  .prod-list {
    padding-bottom: 10rpx;
  }
  /* 横向列表 */
  .prod-show {
    background: #f4f4f4;
    margin-top: 146rpx;
  }
  .shop-list {
    .cont-item {
      margin-top: 200rpx;
      .prod-items {
        width: 702rpx;
        display: inline-block;
        background: #fff;
        padding: 24rpx;
        box-sizing: border-box;
        margin: 0 24rpx;
        margin-bottom: 20rpx;
        border-radius: 10rpx;
      }
    }
  }
  /* 列表为空 */
  .empty {
    margin-top: 200rpx;
    text-align: cneter;
  }
  .empty-icon {
    display: block;
    width: 80rpx;
    height: 80rpx;
    margin: 0 auto;
    margin-bottom: 20rpx;
    & > image {
      width: 100%;
      height: 100%;
    }
  }
  .empty-text {
    font-size: 28rpx;
    text-align: center;
    color: #999;
    line-height: 2em;
  }
  /* 加载完成 */
  .all-load {
    display: block;
    font-size: 28rpx;
    color: #aaa;
    margin-bottom: 30rpx;
    text-align: center;
  }
  .activity-box {
    display: inline-block;
    margin-right: 4rpx;
  }
  .activity {
    background-color: #f81a1a;
    display: inline-block;
    padding: 3rpx 10rpx;
    color: #fff;
    font-size: 24rpx;
    border-radius: 10rpx;
    margin-right: 6rpx;
  }
  /* 纵向 */
  .prod-items {
    .hot {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .hot-imagecont {
      flex: 1;
      display: flex;
    }
    .hot-text {
      flex: 1;
      margin-left: 20rpx;
      margin-right: 20rpx;
      .prod-info {
        font-size: 20rpx;
        color: #777;
        margin-top: 8rpx;
        margin-left: 15rpx;
      }
      .prod-text-info {
        margin-top: 13rpx;
        display: flex;
        align-items: center;
        font-size: 22rpx;
        .points {
          color: #f81a1a;
          margin-right: 8rpx;
          font-size: 22rpx;
        }
        .line {
          height: 16rpx;
          margin: 0 8rpx;
          border-left: 1px solid #e1e1e1;
        }
        .fan {
          color: #5b5b5b;
          font-size: 22rpx;
          line-height: 0;
        }
      }
    }
    .into {
      width: 120rpx;
      height: 49rpx;
      line-height: 49rpx;
      background: #f81a1a;
      color: #fff;
      text-align: center;
      border-radius: 8rpx;
      font-size: 28rpx;
    }
  }
  .hotsaleimg {
    width: 76rpx;
    height: 76rpx;
    border-radius: 12rpx 12rpx 12rpx 12rpx;
    overflow: hidden;
  }
  .hotprod-text {
    color: #333;
    font-size: 28rpx;
    font-weight: bold;
    word-break: break-all;
  }
  .self {
    background: linear-gradient(106deg, #ff3636 0%, #f81a1a 100%);
    border-radius: 4rpx 4rpx 4rpx 4rpx;
    font-size: 20rpx;
    color: #ffffff;
    margin-left: 8rpx;
    padding: 2rpx 5rpx;
    font-weight: 400;
  }
  .img {
    width: 100%;
    height: 100%;
  }
  .prod {
    margin-top: 18rpx;
    display: flex;
    & > .prod-img {
      &:nth-child(2) {
        margin: 0 10rpx;
      }
    }
    .prod-img {
      width: 212rpx;
      height: 212rpx;
      border-radius: 8rpx 8rpx 8rpx 8rpx;
      overflow: hidden;
      position: relative;
    }
    .prod-price {
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 0px 8rpx 0px 8rpx;
      font-size: 24rpx;
      color: #fff;
      padding: 5rpx 8rpx;
      background-color: rgba(0,0,0, .6);
    }
  }
  .hotsale-item-cont {
    margin: 0 24rpx;
  }
  .tab-price {
    display: flex;
    align-items: center;
  }
  /* 搜索门店-筛选弹窗 */
  .search-pop {
    width: 100%;
    position: fixed;
    top: 183rpx;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    z-index: 999;
    .mask {
      flex: 1;
    }
  }
  .pop-con {
    height: auto;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 20rpx 20rpx;
    border-top: 2rpx solid #e1e1e1;
  }
  /* 全部筛选 */
  .search-pop-item {
    &.all {
      .all-item {
        padding: 0 32rpx 0 32rpx;
        &:first-child {
          margin-top: 32rpx;
        }
        &.price-item {
          padding-bottom: 24rpx;
        }
        .item-tit {
          color: #333333;
          font-size: 28rpx;
          font-weight: 400;
        }
        .item-tag-con {
          padding-bottom: 40rpx;
          .tag {
            display: inline-block;
            width: 162rpx;
            height: 60rpx;
            line-height: 56rpx;
            text-align: center;
            border-radius: 60rpx;
            background: #f5f5f5;
            font-size: 28rpx;
            color: #333333;
            font-weight: 400;
            border: 2rpx solid #f5f5f5;
            margin-right: 12rpx;
            margin-top: 16rpx;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: bottom;
            white-space: nowrap;
            box-sizing: border-box;
            &:nth-child(4n + 0) {
              margin-right: 0;
            }
            &.active {
              color: #f81a1a;
              background: #ffeeec;
              border-color: #f81a1a;
            }
          }
          &.range-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20rpx;
            color: #333333;
            position: relative;
            margin-top: 16rpx;
          }
        }
        &.btns {
          padding: 0;
          border-top: 2rpx solid #e1e1e1;
          padding: 24rpx 32rpx;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .btn {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 28rpx;
    border-radius: 60rpx;
    border: 2rpx solid #adadad;
    padding: 20rpx;
    color: #333;
    &.primary {
      color: #fff;
      background: #f81a1a;
      border: 1px solid #f81a1a;
    }
    & + .btn {
      margin-left: 16rpx;
    }
  }
  .range-con {
    .range-input {
      width: 319rpx;
      font-size: 28rpx;
      height: 60rpx;
      border-radius: 60rpx;
      background-color: #f5f5f5;
      padding: 0 10rpx;
      text-align: center;
      color: #333333;
      box-sizing: border-box;
    }
    &::after {
      background-color: #adadad;
      display: block;
      content: '';
      width: 24rpx;
      height: 2rpx;
      position: absolute;
      right: 48.5%;
      top: 37%;
    }
  }
  /* 搜索店铺没有商品数据*/
  .searchStoreShopEmpty {
    width: 100%;
    height: 212rpx;
    :deep(.empty) {
      padding-top: 0;
      .not-found-img {
        width: 156rpx;
        height: 156rpx;
      }
    }
  }
  /* 增加店铺空默认图顶部边距,与商品默认图等高 */
  .shopEmpty-wrap {
    padding-top: 100rpx;
  }

}

