<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yami.shop.dao.CurrencyLangMapper">

  <resultMap id="currencyLangMap" type="com.yami.shop.bean.model.CurrencyLang">
    <id column="id" property="id" />
    <result column="lang_id" property="langId"/>
    <result column="currency_name" property="currencyName"/>
  </resultMap>
</mapper>
