<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yami.shop.dao.ProdExtensionMapper">

  <resultMap id="prodExtensionMap" type="com.yami.shop.bean.model.ProdExtension">
    <id column="prod_extend_id" property="prodExtendId" />
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="prod_id" property="prodId"/>
    <result column="sold_num" property="soldNum"/>
    <result column="water_sold_num" property="waterSoldNum"/>
  </resultMap>

  <update id="updateWaterSoldNum">
    update tz_prod_extension set water_sold_num = #{waterSoldNum} where prod_id = #{prodId}
  </update>

  <select id="getSoldNumByProdIds" resultType="java.lang.Long">
    SELECT SUM(IFNULL(sold_num, 0) + IFNULL(water_sold_num, 0)) FROM `tz_prod_extension` WHERE prod_id IN
      <foreach collection="prodIdList"  item="prodId"  separator="," open="(" close=")">
        #{prodId}
      </foreach>
    </select>

</mapper>
