<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yami.shop.dao.ProdPropValueLangMapper">

  <resultMap id="prodPropValueLangMap" type="com.yami.shop.bean.model.ProdPropValueLang">
    <id column="value_id" property="valueId" />
    <result column="lang" property="lang"/>
    <result column="prop_value" property="propValue"/>
  </resultMap>
  <insert id="insetBatch">
    INSERT INTO tz_prod_prop_value_lang (`value_id`, `lang`, `prop_value`)
    VALUES
    <foreach collection="prodPropValueLangList" item="prodPropValueLang" separator=",">
      (#{prodPropValueLang.valueId}, #{prodPropValueLang.lang}, #{prodPropValueLang.propValue})
    </foreach>
  </insert>

  <delete id="deleteByPropId">
        DELETE
        FROM tz_prod_prop_value_lang
        WHERE `value_id` IN (SELECT value_id FROM tz_prod_prop_value WHERE prop_id = #{propId})
  </delete>
</mapper>
