/**index.wxss**/
.page-index {
  background: #f5f5f5;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: var(--mall4j-safe-area-inset-bottom);
  /* 轮播图及搜索框 */
  .container {
    .bg-color {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #f81a1a;
      width: 100vw;
      height: 169rpx;
      border-radius: 0 0 30rpx 30rpx;
    }
    .swiper-wrap {
      width: 702rpx;
      height: 306rpx;
      margin-left: 24rpx;
      overflow: hidden;
      border-radius: 12rpx;
      padding-top: 14rpx;
    }
    .bg-sear {
      position: relative;
      line-height: 56rpx;
      padding: 20rpx;
      background-color: #f81a1a;
      text-align: center;
      top: 0;
    }
  }
  swiper {
    width: 722rpx;
    height: 306rpx;
    overflow: hidden;
    margin-top: 110rpx;
    &.pic-swiper {
      margin-top: 101rpx;
      padding: 10rpx 0;
      background: #fff;
      height: 400rpx;
      .img-box {
        font-size: 0;
      }
    }
    &.card-swiper {
      .banner {
        :deep(image) {
          border-radius: 12rpx;
        }
      }
    }
  }
  swiper-item {
    font-size: 26rpx;
  }
  .wx-swiper-dots {
    margin-bottom: 15rpx;
  }
  .banner-item {
    box-sizing: border-box;
    .img-box {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding: 0 10rpx;
      image {
        border-radius: 12rpx;
      }
    }
  }
  .bg-sear {
    .section {
      display: flex;
      justify-content: left;
      align-items: center;
      background: #fff;
      z-index: 1;
      padding: 0 24rpx;
      height: 64rpx;
      border-radius: 60rpx;
      margin: auto;
      left: 4%;
      .placeholder {
        font-size: 28rpx;
        color: #999;
        text-overflow: ellipsis;
        flex: 1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-align: left;
      }
      .search-img {
        width: 32rpx;
        height: 32rpx;
        margin-right: 12rpx;
      }
    }
  }
  /* 分类栏目 */
  .content {
    position: relative;
    margin-bottom: 36rpx;
    margin-top: -2rpx;
    .cat-item {
      &:last-child {
        margin-top: 28rpx;
      }
    }
  }
  .cat-item {
    display: flex;
    justify-content: space-between;
    margin-top: 32rpx;
    padding: 0 24rpx;
    .item {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      image {
        width: 80rpx;
        height: 80rpx;
      }
      text {
        max-width: 120rpx;
        font-size: 24rpx;
        color: #5b5b5b;
        padding: 0 12rpx;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 限制显示的行数 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; /* 超出部分显示省略号 */
      }
    }
  }
  /* 消息播放 */
  .message-play {
    position: relative;
    height: 90rpx;
    background: #fff;
    margin: auto;
    padding: 0 60rpx 0 100rpx;
    box-sizing: border-box;
    border-top: 1px solid #f9f9f9;
    .hornpng {
      width: 77rpx;
      height: 36rpx;
      position: absolute;
      left: 20rpx;
      top: 27rpx;
      margin-right: 8rpx;
    }
    .swiper-cont {
      height: 90rpx;
      line-height: 90rpx;
      margin-top: 0;
      .items {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-align: left;
      }
    }
  }
  .arrow {
    width: 15rpx;
    height: 15rpx;
    border-top: 3rpx solid #686868;
    border-right: 3rpx solid #686868;
    transform: rotate(45deg);
    position: absolute;
    right: 30rpx;
    top: 34rpx;
  }
  /* 直播列表入口 */
  .live-enter {
    display: block;
    width: 100%;
    height: 250rpx;
    padding: 10rpx;
    padding-top: 20rpx;
    box-sizing: border-box;
    image {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  /* 秒杀 */
  .snap-up,
  .abulk {
    margin: 0rpx 24rpx 20rpx;
    padding: 24rpx;
    border-radius: 12rpx;
    background-color: #fff;
  }
  .more-icon > image,
  .img-box > image {
    width: 100%;
    height: 100%;
  }
  .snap-up-tit {
    font-size: 32rpx;
    font-weight: bold;
  }
  .snap-up-time {
    padding: 5rpx 10rpx;
    padding-right: 1rpx;
    font-size: 24rpx;
    background: red;
    border-radius: 30rpx;
    margin: 0 15rpx;
    display: inline-block;
  }
  .white {
    color: white;
  }
  .snap-up-countdown {
    margin-right: 2rpx;
    margin-left: 10rpx;
    background: #fff;
    color: red;
    border-radius: 0 15rpx 15rpx 0;
    padding: 5rpx 10rpx 0 8rpx;
  }
  .more-goods {
    float: right;
    font-size: 25rpx;
    color: #777;
    padding-top: 0.5em;
    line-height: 1em;
    display: flex;
  }
  .more-goods-txt {
    vertical-align: middle;
    color: #5b5b5b;
  }
  .more-icon {
    display: inline-block;
    width: 20rpx;
    height: 20rpx;
    vertical-align: middle;
    padding-left: 5rpx;
  }
  /* 清除浮动 */
  .clearfix {
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
  /* 列表 */
  .snap-up-goods-show {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    background: #fff;
    border-radius: 10rpx;
    margin-top: 24rpx;
    display: flex;
    &::-webkit-scrollbar {
      display: none;
    }
    .snap-up-goods-box {
      margin-right: 12rpx;
      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }
  .snap-up-goods-box {
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    .img-box {
      display: block;
      width: 210rpx;
      height: 210rpx;
      font-size: 0;
      border-radius: 12rpx;
      overflow: hidden;
    }
  }
  .purchase-conditions {
    margin-top: 10rpx;
    line-height: 1.5em;
  }
  .group-number {
    font-size: 24rpx;
    color: white;
    background: #f81a1a;
    padding: 0 8rpx;
    border-radius: 0 30rpx 30rpx 0;
    height: 34rpx;
    line-height: 34rpx;
    position: absolute;
    top: 21rpx;
    left: 0;
  }
  .snap-up-price {
    display: inline-block;
    font-size: 28rpx;
    color: #f81a1a;
    line-height: 28rpx;
    text-align: center;
    font-weight: bold;
    margin-top: 16rpx;
    font-family: arial;
    .symbol {
      font-size: 20rpx;
    }
  }
  .original-price {
    text-align: center;
    font-size: 24rpx;
    line-height: 1em;
    margin-top: 8rpx;
    color: #999;
    text-decoration: line-through;
  }
  /* 查看更多 */
  .view-more {
    display: inline-block;
    width: 30rpx;
    padding: 0 10rpx;
    height: 146px;
    line-height: 30rpx;
    writing-mode: vertical-lr;
    font-size: 23rpx;
    color: #888;
    background: #eee;
    vertical-align: top;
    text-align: center;
    letter-spacing: 3px;
  }
  .view-more-icon {
    display: inline-block;
    width: 20rpx;
    height: 20rpx;
    text-align: center;
    vertical-align: middle;
    margin-right: 9rpx;
  }
  /* 每日上新 */
  .title {
    position: relative;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 28rpx;
    padding: 0 40rpx 20rpx;
    color: #333;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    .title-img {
      width: 20rpx;
      height: 20rpx;
      margin: 0 8rpx;
    }
    .title-img-left {
      transform: rotate(-45deg);
    }
    .more-prod-cont {
      color: #999;
      display: inline-block;
      text-align: right;
      .more {
        position: absolute;
        right: 30rpx;
        top: 48rpx;
        color: #666;
        font-size: 24rpx;
        padding: 0 20rpx;
        height: 44rpx;
        line-height: 44rpx;
      }
      .arrow {
        top: 58rpx;
        right: 30rpx;
        border-top: 2rpx solid #666;
        border-right: 2rpx solid #666;
      }
    }
  }
  .up-to-date {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAABxCAYAAACkwXoWAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+IEmuOgAAAZBJREFUeJzt1DEBwCAAwLAxYfhEGXJABkcTBb065trnAwj6XwcAvGKAQJYBAlkGCGQZIJBlgECWAQJZBghkGSCQZYBAlgECWQYIZBkgkGWAQJYBAlkGCGQZIJBlgECWAQJZBghkGSCQZYBAlgECWQYIZBkgkGWAQJYBAlkGCGQZIJBlgECWAQJZBghkGSCQZYBAlgECWQYIZBkgkGWAQJYBAlkGCGQZIJBlgECWAQJZBghkGSCQZYBAlgECWQYIZBkgkGWAQJYBAlkGCGQZIJBlgECWAQJZBghkGSCQZYBAlgECWQYIZBkgkGWAQJYBAlkGCGQZIJBlgECWAQJZBghkGSCQZYBAlgECWQYIZBkgkGWAQJYBAlkGCGQZIJBlgECWAQJZBghkGSCQZYBAlgECWQYIZBkgkGWAQJYBAlkGCGQZIJBlgECWAQJZBghkGSCQZYBAlgECWQYIZBkgkGWAQJYBAlkGCGQZIJBlgECWAQJZBghkGSCQZYBAlgECWQYIZBkgkGWAQJYBAlkGCGRdKykDj9OUNYkAAAAASUVORK5CYII=");
    background-position: top;
    background-size: 100% 332rpx;
    background-repeat: no-repeat;
    background-color: #fff;
    .title {
      color: #fff;
      background: none;
      .more-prod-cont {
        .more {
          position: absolute;
          right: 30rpx;
          top: 48rpx;
          color: #fff;
          font-size: 24rpx;
          background: #65addf;
          border-radius: 30rpx;
          padding: 0 30rpx;
          height: 44rpx;
          line-height: 44rpx;
        }
      }
    }
    .item-cont {
      margin: auto;
      height: auto;
      width: calc(100% - 40rpx);
      padding: 0 20rpx;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      &::before {
        clear: both;
        height: 0;
        overflow: hidden;
      }
      .prod-item {
        width: 345rpx;
        display: inline-block;
        background: #fff;
        padding: 20rpx;
        box-sizing: border-box;
        margin-left: 20rpx;
        margin-top: 20rpx;
        border-radius: 10rpx;
        .imagecont {
          width: 100%;
          font-size: 0;
          .prodimg {
            width: 220rpx;
            height: 220rpx;
            vertical-align: middle;
            border-top-left-radius: 10rpx;
            border-top-right-radius: 10rpx;
            font-size: 0;
          }
        }
        .prod-text {
          font-size: 28rpx;
          overflow: hidden;
          margin: 10rpx 0;
          min-height: 60rpx;
          display: -webkit-box;
          word-break: break-all;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: #000;
          padding: 0 10rpx;
        }
        .prod-price {
          font-size: 25rpx;
          color: #eb2444;
          font-family: Arial;
          padding: 0 10rpx;
        }
      }
    }
  }
  .goods-item-cont {
    padding-bottom: 20rpx;
    margin: 0 24rpx;
  }
  .more {
    &.prod-price {
      position: absolute;
      bottom: 20rpx;
    }
  }
  /* 商城热卖&更多宝贝 */
  .goods-list {
    margin-top: 34rpx;
    padding-bottom: 120rpx;
    box-sizing: border-box;
  }
  .singal-price {
    display: inline;
    font-size: 20rpx;
    text-decoration: line-through;
    color: #777;
    margin-left: 15rpx;
  }
  .tips {
    margin-top: 50rpx;
    height: 60rpx;
    line-height: 60rpx;
    text-align: center;
    color: #999;
    font-size: 24rpx;
  }
  .index-stytle {
    .container {
      min-height: 100vh;
      background-color: #f5f5f5;
    }
  }
  .loop-top {
    margin-top: 110rpx;
  }
  .card-swiper {
    margin-top: 0;
    margin-left: -10rpx;

    :deep(.uni-swiper-dots-horizontal) {
      bottom: 15rpx !important;
    }
    :deep(.wx-swiper-dots-horizontal) {
      bottom: 0 !important;
    }
  }
  .activity-box {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 4rpx;
  }
  .activity {
    flex: auto;
    background-color: #f81a1a;
    display: inline-block;
    padding: 2rpx 10rpx;
    color: #fff;
    font-size: 24rpx;
    border-radius: 10rpx;
  }
  /* 导航栏底部小点点样式 */
  .card-swiper :deep(.wx-swiper-dot),
  .card-swiper :deep(.uni-swiper-dot) {
    width: 12rpx;
    height: 12rpx;
  }
  cpb: 'bWFsbDRq';
}
