/* pages/category/category.wxss */
uni-page-wrapper {
  height: 0!important;
}
.page-category.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding-bottom: var(--mall4j-safe-area-inset-bottom);

  .main {
    position: fixed;
    display: flex;
    overflow: hidden;
    margin-top: 100rpx;
    height: calc(100% - 100rpx);
    width: 100%;
    background-color: #f5f5f5;
  }
  /* 搜索栏 */
  .search-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #777;
    background: #fff;
    box-shadow: 0 2rpx 6rpx rgba(0, 0, 0, 0.07);
    z-index: 3;
    padding: 20rpx 0;
    .arrow {
      width: 20rpx;
      height: 20rpx;
      border-bottom: 2rpx solid #777;
      border-left: 2rpx solid #777;
      transform: rotate(45deg);
      position: absolute;
      left: 30rpx;
      top: 41rpx;
    }
    .search-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60rpx;
      background: #f7f7f7;
      z-index: 999;
      width: 92%;
      border-radius: 50rpx;
      text-align: center;
      margin: auto;
      .search-img {
        width: 32rpx;
        height: 32rpx;
        margin-right: 10rpx;
      }
    }
    .search-hint {
      font-size: 28rpx;
      position: absolute;
      right: 30rpx;
      top: 32rpx;
    }
  }
  .sear-input {
    font-size: 28rpx;
  }
  /* 左侧菜单栏 */
  .left-bg {
    background-color: #f5f5f5;
    width: 30%;
    /* #ifndef MP-WEIXIN */
    padding-bottom: 100rpx;
    /* #endif */
    z-index: 2;
    margin-top: 8rpx;
  }
  .leftmenu {
    max-height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    overflow: scroll;
  }
  .menu-item {
    height: 86rpx;
    max-width: 200rpx;
    padding: 0 10rpx;
    text-align: center;
    padding-top: 4rpx;
    padding-left: 20rpx;
    border-bottom: 2rpx silid #e3e3e3;
    position: relative;
    color: #333;
    font-size: 28rpx;
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    &.last-menu-item {
      height: 12rpx;
    }
    &.active-top {
      border-radius: 0 0 12rpx 0;
    }
    &.active-bottom {
      border-radius: 0 12rpx 0 0;
    }
    &.active {
      font-size: 28rpx;
      font-weight: bold;
      position: relative;
      background: #fff;
      &:before {
        position: absolute;
        left: 0;
        content: "";
        width: 4rpx;
        height: 56rpx;
        top: 16rpx;
        background: #f81a1a;
        border-radius: 0 4rpx 4rpx 0;
      }
    }
    text {
      &.tips-num {
        position: absolute;
        top: 20rpx;
        right: 15rpx;
        border-radius: 15rpx;
        width: 30rpx;
        height: 30rpx;
        background: red;
        color: #fff;
        font-size: 25rpx;
        line-height: 30rpx;
      }
    }
}
  .menu-text {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 180rpx;
  }
  /* 右侧商品栏 */
  .rightcontent {
    width: 70%;
    /* #ifndef MP-WEIXIN */
    padding-bottom: 100rpx;
    /* #endif */
    box-sizing: border-box;
    background-color: #fff;
    z-index: 1;
    margin-top: 8rpx;
    .adver-map {
      width: auto;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      margin: 0 24rpx 10rpx;
      padding-top: 24rpx;
      .item-a {
        display: block;
        font-size: 0;
        width: 100%;
        height: 160rpx;
        image {
          max-width: 100%;
          max-height: 100%;
          width: 1220px;
          border-radius: 12rpx;
        }
      }
    }
    .sub-category {
      padding-top: 24rpx;
    }
  }
  /* 二级分类 */
  .sub-category-con {
    margin: 0 24rpx;
  }
  .empty-tips {
    font-size: 26rpx;
    color: #aaa;
    margin: 30rpx;
  }
  .sub-cate-title {
    display: flex;
    align-items: center;
    font-weight: 800;
  }
  .view-all {
    color: #999;
    font-weight: normal;
    font-size: 22rpx;
  }
  .sub-cate-text {
    flex: 1;
    font-size: 28rpx;
  }
  .th-cate-con {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28rpx;
  }
  .sub-category-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24rpx;
    box-sizing: border-box;
    align-items: center;
    .sub-category-item-pic {
      border-radius: 12rpx;
      width: 108rpx !important;
      height: 108rpx !important;
      margin-bottom: 20rpx;
    }
    text {
      font-size: 25rpx;
    }
  }
  .sub-category-item-name {
    line-break: anywhere;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 108rpx !important;
    text-align: center;
  }
  c-p: 'm-a-l-l-4-j';
}
