/* pages/prod-classify/prod-classify.wxss */
// @use "../../app.css";
.page-prod-classify{
  background: #f4f4f4;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: var(--mall4j-safe-area-inset-bottom);
  .tit-background {
    width: 100%;
    height: 20rpx;
    background: #f4f4f4;
  }
  .coupon-condition {
    padding: 20rpx 20rpx 0;
    font-size: 24rpx;
  }
  /* 加载完成 */
  .loadall {
    margin: 20rpx 0;
    line-height: 2em;
    font-size: 28rpx;
    color: #aaa;
    text-align: center;
  }
  /* 列表为空 */
  .empty {
    margin-top: 100rpx;
    text-align: cneter;
  }
  .empty-icon {
    display: block;
    width: 80rpx;
    height: 80rpx;
    margin: 0 auto;
    margin-bottom: 20rpx;
    & > image {
      width: 100%;
      height: 100%;
    }
  }
  .empty-text {
    font-size: 28rpx;
    text-align: center;
    color: #999;
    line-height: 2em;
  }
  /* 头部菜单 */
  .prod-classify-tit {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    z-index: 999;
    width: 100%;
    height: 88rpx;
    line-height: 88rpx;
    background-color: #fff;
    text {
      display: block;
      font-size: 24rpx;
      text-align: center;
      &.on {
        border-bottom: 4rpx solid #f81a1a;
        color: #f81a1a;
        font-weight: 600;
      }
    }
  }
  /*  end 头部菜单 */
  .prod-box {
    padding: 0 24rpx;
  }
  .prod-items {
    width: 345rpx;
    display: inline-block;
    background: #fff;
    padding: 20rpx;
    box-sizing: border-box;
    margin-left: 20rpx;
    margin-bottom: 20rpx;
    border-radius: 10rpx;
    .hot-imagecont {
      text-align: center;
      font-size: 0;
      width: 305rpx;
      height: 305rpx;
    }
    .hot-text {
      margin-top: 20rpx;
      .prod-info {
        font-size: 20rpx;
        color: #777;
        margin-top: 8rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .prod-text-info {
        position: relative;
        height: 40rpx;
        line-height: 40rpx;
        font-family: Arial;
        margin-top: 20rpx;
        .price {
          color: #f81a1a;
          .sold-num {
            margin-left: 10rpx;
          }
        }
      }
    }
  }
  .hot-imagecont {
    .hotsaleimg {
      width: 100%;
      height: 100%;
      border-radius: 10rpx;
    }
  }
  .hot-text {
    .hotprod-text {
      height: 76rpx;
      width: 100%;
      line-height: 38rpx;
      font-size: 28rpx;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #000;
    }
  }
  .collection-row {
    display: flex;
    justify-content: space-between;
  }
  .deadline-price {
    font-size: 22rpx;
    margin-right: 5rpx;
  }
  .collection-btn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 20rpx;
  }
  .activity-box {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 4rpx;
  }
  .activity {
    background-color: #f81a1a;
    display: inline-block;
    padding: 0 10rpx;
    color: #fff;
    font-size: 24rpx;
    border-radius: 10rpx;
    margin-right: 6rpx;
  }
  .main {
    .tit-background {
      height: calc(88rpx + 20rpx);
    }
  }
}

