
/* 选择地址弹窗 */
.component-address-select {
  display: flex;
  /* height: calc(100% - 32rpx - 50rpx - 60rpx); */
  height: 80vh;
  flex-direction: column;
  margin-top: 60rpx;
  font-size: 28rpx;
  font-family: PingFang SC-Regular, PingFang SC;

  /* 公用 */
  .title {
    color: #333333;
    font-weight: bold;
    font-family: PingFang SC-Bold, PingFang SC;
  }

  .color3 {
    color: #333333;
    font-size: 28rpx;
  }

  .color9 {
    color: #999999;
  }

  /* 步骤条 */
  .step-box {
    display: flex;
    border-bottom: 1rpx solid #E1E1E1;
    position: relative;
  }

  .step-box .step {
    color: #333333;
    margin-right: 60rpx;
    white-space: nowrap;
  }

  .step-box .step:first-child {
    margin-left: 32rpx;
    padding-bottom: 16rpx;
  }

  .step-box .step:last-child {
    margin-right: 0;
  }

  .step-box .step-act {
    color: #F81A1A;
    position: relative;
  }

  .step-box .step-act::after {
    display: block;
    content: ' ';
    width: 56rpx;
    height: 4rpx;
    position: absolute;
    bottom: -2rpx;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 4rpx solid #F81A1A;
    z-index: 2;
  }

  /* 步骤条end */
  .scroll-box {
    display: flex;
    overflow-y: auto;
  }

  /* 热门地区 */
  .hot-city-box {
    padding: 32rpx 24rpx;
    padding-bottom: 0;
  }

  .hot-city-box .city-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 16rpx;
  }

  .hot-city-box .city-list .city-item {
    padding: 16rpx 38rpx;
    color: #5B5B5B;
    background-color: #F5F5F5;
    margin: 8rpx;
  }

  /* 热门地区end */
  /* 区域列表 */
  .area-box {
    padding: 0 32rpx;
    max-width: calc(100% - 64rpx);
  }

  .area-box .prov-til {
    padding-top: 32rpx;
  }

  .area-box .area-list {
    margin-top: 30rpx;
  }

  .area-box .area-list .area-item {
    margin-bottom: 32rpx;
    line-height: 40rpx;
    max-width: 80%;
  }

  .area-box .area-list .area-item .letter {
    display: inline-block;
    width: 44rpx;
  }

  .area-box .area-list .area-item .sel-color {
    color: #F81A1A;
  }

  /* 选择地址弹窗end */

  .index-bar {
    background: #efefef;
    border-radius: 20rpx;
    text-align: center;
    width: 32rpx;
    position: fixed;
    right: 20rpx;
    font-size: 18rpx;
    padding: 15rpx 0;
    color: #9e9e9e;
    margin-top: 80rpx;

    .index-item {
      line-height: 32rpx;
      display: flex;
      justify-content: center;
    }

    .index-item.active {
      background-color: #c2bfbf;
      color: #FFF;
      border-radius: 12rpx;
    }
    .index-tip {
      position: absolute;
      right: 72rpx;
      width: 56rpx;
      height: 56rpx;
      font-size: 40rpx;
      line-height: 60rpx;
      background-color: #c2bfbf;
    }
  }
}
