.page-order-list {
  color: #333;
  font-size: 15px;
  padding-bottom: 0 !important;

  .fs-24 {
    font-size: 15px ;
  }

  .load-all {
    margin-top: 0 !important;
  }

  .main {
    .prod-list {
      margin-top: 32rpx;
    }
    // 消除应标签换行而产生的文字之间空格
    //text {
    //  word-spacing: -4px;
    //}
  }

  .prodprice {
    .big-num {
      line-height: 39rpx;
      font-size: 32rpx;
      font-family: Alibaba PuHuiTi 2.0-55 Regular, Alibaba PuHuiTi 20;
      font-weight: normal;
      color: #333333;
    }

    .big-num.score-price {
      font-size: 28rpx;

      .fs-24 {
        font-size: 28rpx;
      }
    }
  }

  .order-tit {
    display: flex;
    justify-content: space-around;
    z-index: 999;
    background-color: #fff;
    padding: 0 24rpx 0;
    margin: 0;

    text {
      display: block;
      font-size: 28rpx;
      line-height: 39rpx;
      text-align: center;
      padding-bottom: 12rpx;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; /* 超出部分显示省略号 */
      max-width: 160rpx;

      text {
        margin-left: auto;
      }
    }

    text.on {
      border-bottom: 4rpx solid #F81A1A;
      color: #F81A1A;
      font-weight: 600;
    }
  }

  .main {
    padding-top: 203rpx;
    box-sizing: border-box;
    padding-bottom: 1rpx;
  }

  .prod-item {
    background-color: #fff;
    margin-bottom: 20rpx;
    font-size: 28rpx;
    margin-left: 24rpx;
    margin-right: 24rpx;
    border-radius: 12rpx;
    padding: 24rpx;

    .order-num {
      font-size: 24rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .clear-btn {
        width: 28rpx;
        height: 28rpx;
        font-size: 0;
        margin-left: 42rpx;
        position: relative;

        &::after {
          content: " ";
          display: block;
          position: absolute;
          left: -20rpx;
          top: 0rpx;
          width: 2rpx;
          height: 32rpx;
          background: #eee;
        }

        .clear-list-btn {
          width: 100%;
          height: 100%;
        }
      }

      .order-number {
        font-size: 28rpx;
      }
    }

    .item-cont {
      display: flex;
      align-items: flex-start;
      position: relative;

      .categories {
        white-space: nowrap;
      }

      .prod-pic {
        position: relative;
        display: inline-block;
        font-size: 0;
        width: 168rpx;
        height: 168rpx;
        border-radius: 12rpx;
        background: #fff;
        margin-right: 20rpx;
        overflow: hidden;

        image {
          width: 100%;
          height: 100%;
        }
      }

      .prod-info-box {
        flex: 1;
        min-height: 168rpx;
        display: flex;
        flex-direction: column;
      }

      .prod-info {
        font-size: 28rpx;
        position: relative;
        display: flex;
        justify-content: space-between;

        .prodname {
          line-height: 39rpx;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          word-break: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: break-spaces;
          word-break: break-all;
          line-break: anywhere;
        }

        .sku-box {
          display: flex;
          align-items: center;
          margin-top: 10rpx;
        }

        .prod-info-cont {
          color: #999;
          font-size: 28rpx;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: 12rpx;
          white-space: break-spaces;
          word-break: break-all;
          line-break: anywhere;
        }
      }

      .prod-info-cont-sku {
        width: 466rpx;
        line-height: 34rpx;
        height: 34rpx;
        color: #999;
        margin-top: 10rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .quantity {
          margin-right: 12rpx;
        }
      }
    }

    .item-cont-box {
      margin-top: 20rpx;
      .item-cont {
        padding-top: 0;
      }

      .pre-sale {
        display: flex;
        align-items: center;
        padding: 0 0 20rpx;

        .pre-sale-icon {
          margin-right: 10rpx;
          font-size: 24rpx;
          line-height: 24rpx;
          color: #fff;
          background: linear-gradient(106deg, #AA1CFD 0%, #8C18FF 100%);
          padding: 4rpx 8rpx;
          border-radius: 4rpx;
          display: flex;
          align-items: center;
          white-space: nowrap;
        }

        .preSaleTime {
          font-size: 24rpx;
          font-weight: 400;
          color: #8E19FF;
          line-height: 32rpx;
        }
      }
    }

    .price-nums {
      display: flex;
      align-items: center;
      line-height: 32rpx;
      justify-content: space-between;
      margin-top: auto;
      margin-bottom: 0;

      .prodcount {
        color: #999;
        font-family: arial;
        margin-right: 0rpx;
      }
    }

    .spell-group-icon {
      margin-right: 10rpx;
      font-size: 24rpx;
      line-height: 24rpx;
      color: #fff;
      background: linear-gradient(106deg, #f81a1a 0%, #FF522C 100%);
      padding: 4rpx 6rpx;
      border-radius: 4rpx;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    .total-num {
      margin-top: 20rpx;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: flex-end;

      .right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        font-size: 28rpx;
      }

      .prodcount {
        margin-right: 20rpx;
        color: #999;
      }

      .prodprice {
        display: flex;
        align-items: flex-start;
        line-height: 40rpx;

        .price-red {
          color: #F81A1A;
          font-size: 36rpx;
          font-family: Alibaba PuHuiTi 2.0-65 Medium;
          font-weight: bold;
        }

        .price-red.fs-24 {
          font-size: 24rpx !important;
        }
      }

      .prodprice.score-price {
        .price-red {
          font-size: 36rpx;
        }
      }
    }

    .prod-foot {
      margin-top: 24rpx;

      .btn {
        .button {
          min-width: 110rpx;
          padding: 0 24rpx;
          text-align: center;
          font-size: 28rpx;
          font-weight: 400;
          color: #333333;
          line-height: 50rpx;
          border: 1px solid #ADADAD;

          + {
            .button {
              margin-left: 10rpx;
            }
          }
        }

        .button.red {
          background-color: #F81A1A;
          color: #FFFFFF;
          border: 1px solid #F81A1A;
        }

        .button.warn {
          color: #F81A1A;
          border-color: #F81A1A;
        }

        .btn-more {
          height: 28rpx;
          font-size: 28rpx;
          font-family: PingFang SC-Regular, PingFang SC;
          font-weight: 400;
          color: #999999;
          line-height: 28rpx;
          padding-right: 10rpx;
        }
      }

      .total {
        font-size: 24rpx;
        margin-bottom: 20rpx;
        padding-bottom: 20rpx;
        border-bottom: 2rpx solid #eee;
      }
    }
  }

  .shop-box {
    padding-left: 0rpx;
    display: flex;
    align-items: center;
  }

  .shop-icon {
    width: 32rpx;
    height: 32rpx;
    margin-right: 10rpx;
    font-size: 0;
    flex-shrink: 0;

    image {
      width: 100%;
      height: 100%;
    }
  }

  .shop-name {
    font-size: 28rpx;
    font-weight: bold;
    font-family: PingFang SC-Bold, PingFang SC;
    color: #333333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    word-break: break-all;
    line-break: anywhere;
  }

  .order-num {
    text {
      flex: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .order-state {
    color: #999999;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    margin-left: 10rpx;

    .order-sts {
      height: 39rpx;
      font-size: 28rpx;
      font-family: PingFang SC-Medium, PingFang SC;
      font-weight: 500;
      color: #F81A1A;
    }

    .red {
      color: #F81A1A;
    }
  }

  .order-state.red {
    color: #F81A1A;
  }

  .spell-group-order {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 60rpx;
    height: 30rpx;
  }

  .other-button-hover {
    background-color: blue;
  }

  .button-hover {
    background-color: #F81A1A;
    background-color: blue;
  }

  .btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .button {
    display: inline-block;
    font-size: 24rpx;
    background: #fff;
    padding: 10rpx 30rpx;
    border-radius: 80rpx;
    border: 1px solid #ddd;
  }

  .button.warn {
    color: #F81A1A;
    border-color: #F81A1A;
  }

  .loadall {
    margin: 20rpx 0;
    line-height: 2em;
    font-size: 28rpx;
    color: #aaa;
    text-align: center;
  }

  .home {
    image {
      position: fixed;
      bottom: 190rpx;
      right: 30rpx;
      width: 120rpx;
      height: 120rpx;
    }
  }

  .empty {
    padding-top: 200rpx;
    text-align: cneter;
  }

  .empty-icon {
    display: block;
    width: 80rpx;
    height: 80rpx;
    margin: 0 auto;
    margin-bottom: 20rpx;

    image {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .empty-text {
    font-size: 28rpx;
    text-align: center;
    color: #999;
    line-height: 40rpx;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 180rpx;
    background-color: #FFFFFF;
    z-index: 4;

    .search-bar {
      display: flex;
      align-items: center;
      margin: 20rpx 24rpx 25rpx;
      color: #777;
      background: #fff;
      z-index: 3;
      .back-icon {
        display: inline-block;
        width: 34rpx;
        height: 34rpx;
      }
      .search-box {
        position: relative;
        width: 702rpx;
        height: 68rpx;
        background: #F5F5F5;
        z-index: 999;
        border-radius: 60rpx;

        .sear-input {
          height: 70rpx;
          border: 0;
          margin: 0 30rpx 0 64rpx;
          vertical-align: top;
          background: #f7f7f7;
          font-size: 28rpx;
          color: #333;
        }

        .search-img {
          width: 34rpx;
          height: 34rpx;
          position: absolute;
          left: 16rpx;
          top: 50%;
          transform: translateY(-50%);
          display: block;
        }
      }
    }
  }
}
