.page-logout {
  background: #fff;
  height: 100%;

  .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-text {
      width: 100%;
      position: relative;
      margin-top: 104rpx;

      .circle {
        width: 120rpx;
        height: 120rpx;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;

        image {
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }
      }

      .text {
        font-size: 20rpx;
        color: #fff;
        background: #EC4241;
        border-radius: 60rpx;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 5rpx 10rpx;
      }
    }

    .text {
      font-size: 24rpx;
      margin-top: 12rpx;
      max-width: 80%;
      margin: 0 auto;
      word-break: break-word;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    background: #FDF9F8;
    width: 80%;
    padding: 22rpx 35rpx 40rpx 35rpx;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 94rpx;
    border: 2px solid #F81A1A;
    border-radius: 14rpx;

    .cart-item-con {
      display: flex;
      flex-direction: column;
      padding: 42rpx 30rpx 0 30rpx;
    }

    .card-title {
      font-size: 28rpx;
      padding: 0 0 16rpx 0;
      border-bottom: 1px solid #DADADA;
      font-weight: bold;
    }

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 40rpx;

      &:last-child {
        margin-bottom: 0;
      }

      image {
        width: 60rpx;
        height: 60rpx;
      }

      .text {
        flex: 1;
        margin-left: 20rpx;
        color: #666666;
        font-size: 28rpx;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #999;
    font-size: 24rpx;

    .logout-text {
      display: flex;
      justify-content: center;
      margin-bottom: 40rpx;

      &::before {
        content: "——————";
        color: #E1E1E1;
        margin-right: 16rpx;
      }

      &::after {
        content: "——————";
        color: #E1E1E1;
        margin-left: 16rpx;
      }
    }

    .logout-btn {
      display: flex;
      padding-bottom: calc(20rpx + var(--mall4j-safe-area-inset-bottom));
    }
  }

  .btn-left {
    width: 333rpx;
    height: 76rpx;
    font-size: 28rpx;
    border-radius: 60rpx;
    background: #fff;
    border: 1px solid #E1E1E1;
  }

  .btn-right {
    width: 333rpx;
    height: 76rpx;
    font-size: 28rpx;
    border-radius: 60rpx;
    background: #F81A1A;
    border: 1px solid #F81A1A;
    color: #fff;
  }

  uni-button {
    &:after {
      border: none;
    }
  }
}
