.page-cancellation{
  height: 100%;
  background: #fff;
  overflow-y: auto;
  padding: 94rpx 0 calc(220rpx + var(--mall4j-safe-area-inset-bottom));

  .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-text {
      width: 100%;
      position: relative;
      margin-top: 104rpx;
      .circle {
        width: 120rpx;
        height: 120rpx;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        image {
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }
      }
      .text {
        font-size: 20rpx;
        color: #fff;
        background: #EC4241;
        border-radius: 60rpx;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 5rpx 10rpx;
      }
    }
    .text {
      font-size: 24rpx;
      margin-top: 12rpx;
    }
  }
  .card {
    background: #FDF9F8;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #F81A1A;
    border-radius: 14rpx;
    .card-title {
      font-size: 28rpx;
      margin: 0 40rpx;
      padding: 24rpx 0 16rpx 0;
      border-bottom: 1px solid #DADADA;
      font-weight: bold;
    }
    .text {
      &:last-child {
        margin-bottom: 40rpx;
      }
      margin: 0 40rpx;
      color: #666666;
      font-size: 28rpx;
      margin-top: 40rpx;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: #999;
    font-size: 24rpx;
    background-color: #fff;
    padding-bottom: var(--mall4j-safe-area-inset-bottom);
    .logout-text {
      display: flex;
      justify-content: center;
      margin-bottom: 40rpx;
      &::before {
        content: "——————";
        color: #E1E1E1;
        margin-right: 16rpx;
      }
      &::after {
        content: "——————";
        color: #E1E1E1;
        margin-left: 16rpx;
      }
    }
    .logout-btn {
      display: flex;
      padding-bottom: calc(20rpx + var(--mall4j-safe-area-inset-bottom));
    }
  }
  .btn-left {
    width: 333rpx;
    height: 76rpx;
    font-size: 28rpx;
    border-radius: 60rpx;
    background: #fff;
    border: 1px solid #E1E1E1;
  }
  .btn-right {
    width: 333rpx;
    height: 76rpx;
    font-size: 28rpx;
    border-radius: 60rpx;
    background: #F81A1A;
    border: 1px solid #F81A1A;
    color: #fff;
  }
  uni-button {
    &:after {
      border: none;
    }
  }
}
