.page-delivery-address {
  background-color: #f4f4f4;
  min-height: 100vh;

  .main {
    padding: 20rpx 24rpx 120rpx;
    margin-bottom: 120rpx;
  }

  .address {
    margin-bottom: 24rpx;
    width: 100%;
    background-color: #fff;
    border-bottom: 2rpx solid #e9eaec;
    border-radius: 14rpx;
    padding: 0 32rpx;
    box-sizing: border-box;

    .personal {
      position: relative;
      padding: 32rpx 0;
      border-bottom: 3rpx solid #e9eaec;

      .info-tit {
        .name {
          margin-right: 16rpx;
          max-width: 90%;
          display: inline-block;
          word-break: break-all;
        }
      }
    }

    .option-box {
      padding-top: 21rpx;
      padding-bottom: 24rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .select-btn {
        display: flex;
        font-size: 24rpx;
        align-items: center;

        .label-sel {
          display: flex;
          align-items: center;
        }

        .cs-radio {
          height: 40rpx;
          width: 40rpx;
          border: 1rpx solid #d5d3d3;
          border-radius: 50%;

          .right-icon {
            height: 34rpx;
            width: 34rpx;
            margin: 3rpx;
          }
        }

        .cs-radio.active {
          background-color: #F81A1A;
        }

        .radio-text {
          margin-left: 8rpx;
          color: #5b5b5b;
        }

        .radio-text.asDef {
          color: #F81A1A;
        }
      }

      .op-box {
        font-size: 24rpx;
        color: #5b5b5b;

        .del-btn {
          margin-right: 32rpx;
        }
      }
    }
  }

  .personal {
    .addr {
      font-size: 24rpx;
      color: #5B5B5B;
      margin-bottom: 8rpx;
    }

    .addr-detail {
      font-size: 28rpx;
      font-weight: bold;
      color: #333333;
      margin-bottom: 8rpx;
      word-break: break-all;
    }
  }

  .info-tit {
    width: 95%;
    word-break: break-word;
    font-size: 24rpx;
    color: #5B5B5B;
  }
  .footer-box{
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 16rpx;
    padding-bottom:  calc(16rpx + var(--mall4j-safe-area-inset-bottom));
    position: fixed;
    bottom: 0;
    background-color: #f4f4f4;
    .footer {
      width: 702rpx;
      height: 75rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 24rpx;
      line-height: 75rpx;
      text-align: center;
      border-radius: 60rpx;
      background-color: #F81A1A;
      box-shadow: 0 -1rpx 8rpx rgba(0, 0, 0, 0.05);
  
      image {
        width: 24rpx;
        height: 24rpx;
      }
  
      text {
        font-size: 32rpx;
        color: #ffffff;
        margin-left: 8rpx;
      }
    }
  }

  .empty {
    .img {
      text-align: center;
      margin-top: 130rpx;

      image {
        width: 100rpx;
        height: 100rpx;
        display: block;
        margin: auto;
      }
    }

    .txt {
      margin-top: 30rpx;
      font-size: 24rpx;
      text-align: center;
      color: #999;
    }

    margin-top: 100rpx;
    text-align: cneter;
  }

  .empty-icon {
    display: block;
    width: 80rpx;
    height: 80rpx;
    margin: 0 auto;
    margin-bottom: 20rpx;

    image {
      width: 100%;
      height: 100%;
    }
  }

  .empty-text {
    font-size: 28rpx;
    text-align: center;
    color: #999;
    line-height: 2em;
  }
}

.container {
  padding-bottom: 0;
}

