/* components/prod-list-item/prodListItem.wxss */
.prod-list.component-prod-list {
  .goods-box {
    display: flex;
    justify-content: space-between;
    .list {
      width: calc((100vw - (48rpx + 16rpx)) / 2);
      &:first-child {
        margin-right: 16rpx;
      }
      .prod-items {
        width: calc((100vw - (48rpx + 16rpx)) / 2);
        display: inline-block;
        background: #fff;
        box-sizing: border-box;
        border-radius: 12rpx;
        padding: 0;
        margin-left: 0;
        &:not(:last-child) {
          margin-bottom: 16rpx;
        }
        .hot-imagecont {
          font-size: 0;
          text-align: center;
          font-size: 0;
          text-align: center;
          .hotsaleimg {
            width: calc((100vw - (48rpx + 16rpx)) / 2);
            height: 341rpx;
            border-radius: 12rpx 12rpx 0 0;
            overflow: hidden;
          }
        }
        .hot-text {
          padding: 24rpx;
          .hotprod-text {
            font-size: 28rpx;
            line-height: 42rpx;
            overflow: hidden;
            white-space: break-spaces;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: break-all;
            line-break: anywhere;
          }
          .hotprod-text1 {
            font-size: 28rpx;
            line-height: 42rpx;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .prod-text-info {
            position: relative;
            margin-top: 8rpx;
            font-family: Arial;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .sold-num {
              font-size: 20rpx;
              color: #999;
            }
            .price {
              font-family: none;
              display: inline-block;
              color: #f81a1a;
              font-weight: 500;
              .symbol {
                font-weight: bold;
                font-size: 24rpx;
                margin-bottom: 5rpx;
              }
              .big-num {
                font-weight: bold;
                font-size: 32rpx;
              }
              .small-num {
                font-size: 24rpx;
              }
            }
            .basket-img {
              width: 50rpx;
              height: 50rpx;
              position: absolute;
              right: 0;
              bottom: 7rpx;
              padding: 8rpx;
            }
          }
          .vip {
            font-size: 19rpx;
            position: relative;
            height: 32rpx;
            .left {
              height: 32rpx;
              background-color: #ffdc9c;
              max-width: 100rpx;
            }
            .right {
              color: #2f2e34;
              border-radius: 0 8rpx 8rpx 0;
              height: 32rpx;
              text-align: center;
              background-color: #ffdc9c;
              padding-right: 8rpx;
              position: absolute;
              top: 0;
              left: 62rpx;
              display: flex;
              align-items: center;
              font-family: auto;
              padding-left: 4rpx;
              .big {
                font-weight: bold;
                font-size: 26rpx;
                line-height: 32rpx;
              }
            }
          }
          .prod-name {
            font-size: 28rpx;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .coupon {
            width: 100%;
            display: inline-block;
            margin-top: 8rpx;
            overflow: hidden;
            .coupon-item {
              border-radius: 4rpx;
              border: 2rpx solid #f81a1a;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #f81a1a;
              font-size: 20rpx;
              line-height: 28rpx;
              float: left;
              margin-bottom: 8rpx;
              overflow: hidden;
              &:not(:last-child) {
                margin-right: 4px;
              }
              .right {
                padding: 0rpx 8rpx;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
  .title {
  }
  .prod-list {
    .goods-box {
      .list {
        .prod-items {
          width: calc((100vw - (48rpx + 16rpx)) / 2);
          display: inline-block;
          background: #fff;
          box-sizing: border-box;
          &:nth-child(2n-1) {
            margin: 0 16rpx 16rpx 0rpx;
          }
          &:nth-child(2n) {
            margin: 0 0rpx 16rpx 0rpx;
          }
         .hot-text .prod-info, .more-prod .prod-text-right .prod-info {
            font-size: 22rpx;
            color: #999;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 32rpx;
            font-size: 22rpx;
            color: #999;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .goods-box-one {
    background: transparent;
    .list {
      border-radius: 12rpx;
      display: flex;
      padding: 24rpx;
      background-color: #fff;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 16rpx;
      }
    }
    .prod-img {
      width: 200rpx;
      height: 200rpx;
      border-radius: 12rpx;
      overflow: hidden;
    }
    .been_imgs {
      width: 200rpx;
      height: 200rpx;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      left: 24rpx;
    }
    .prod-info {
      flex: 1;
      width: 70%;
      padding-left: 20rpx;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        text-align: left;
        color: #333;
        font-size: 28rpx;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        margin-bottom: 8rpx;
        line-height: 44rpx;
        word-break: break-all;
        line-break: anywhere;
      }
      .loc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8rpx;
        .store {
          text-align: left;
          color: #999;
          font-size: 24rpx;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
        .distance {
          color: #999;
          font-size: 24rpx;
        }
      }
      .coupon {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        .coupon-item {
          border-radius: 4rpx;
          border: 1rpx solid #f81a1a;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #f81a1a;
          font-size: 20rpx;
          line-height: 20rpx;
          float: left;
          margin-bottom: 8rpx;
          overflow: hidden;
          &:not(:last-child) {
            margin-right: 4px;
          }
          .left {
            background-color: #ffd6d2;
            padding: 4rpx 6rpx;
          }
          .right {
            padding: 4rpx 8rpx;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }
        }
      }
      .pay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
          display: flex;
          align-items: center;
          .price {
            color: #f81a1a;
            .big {
              font-size: 36rpx;
              font-weight: bold;
            }
            .small {
              font-weight: bold;
              font-size: 24rpx;
            }
          }
          .vip {
            .right {
              color: #333;
            }
          }
        }
        .right {
          text-align: right;
          color: #999;
          font-size: 20rpx;
        }
      }
      .vip {
        font-size: 20rpx;
        height: 32rpx;
        margin-left: 8rpx;
        position: relative;
        background-size: 140rpx 100%;
        background-repeat: no-repeat;
        .left {
          height: 32rpx;
          background-color: #ffdc9c;
          max-width: 100rpx;
        }
        .right {
          color: #2f2e34;
          border-radius: 0 8rpx 8rpx 0;
          height: 32rpx;
          text-align: center;
          background-color: #ffdc9c;
          padding-right: 8rpx;
          position: absolute;
          top: 0;
          left: 62rpx;
          display: flex;
          align-items: center;
          font-family: auto;
          padding-left: 4rpx;
          .big {
            font-weight: bold;
            font-size: 26rpx;
            line-height: 32rpx;
          }
        }
      }
    }
  }
  .prodlist-item-cont {
    margin-bottom: 40rpx;
    background: #fafafa;
    padding-top: 20rpx;
  }

  /* .prod-list{
    width: 100%;
  } */
  .singal-price {
    display: inline;
    font-size: 20rpx;
    text-decoration: line-through;
    color: #777;
    margin-left: 15rpx;
  }
  .visib {
    visibility: hidden;
  }
  .activity-box {
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
  }
  .activity {
    background-color: #f81a1a;
    display: inline;
    padding: 2rpx 6rpx;
    color: #fff;
    font-size: 20rpx;
    border-radius: 4rpx;
    margin-right: 4px;
  }
  /* 一行一个 */
  .pro-tag {
    color: #999;
    font-size: 24rpx;
    margin-top: 10rpx;
    width: 304rpx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }

}
