
/*
  页面或组件根节点必须有 Mall4j 标识类；
  其中 page- 为页面标识，如 page-index 为首页；
  component- 为组件标识，如 component-coupon 为优惠券组件；
*/
.Mall4j[class*=page-] {
  color: #333;
  font-family: helvetica, 'Heiti SC', PingFangSC-Light;
}

.price {
  font-family: Arial;
  display: inline-block;
  color: #e43130;
}

body,
html {
  height: 100%;
}

/* showToast提示框样式 */
.uni-sample-toast .uni-simple-toast__text{
  width: max-content;
  word-break: break-word;
  box-sizing: border-box;
}

/* 价格数字显示不同大小 */

.symbol {
  font-size: 24rpx;
}

.big-num {
  font-size: 32rpx;
}

.small-num {
  font-size: 24rpx;
}


/*
*改变checkbox样式
*自定义样式
*/
/* reg	  */
uni-checkbox-group {
  width: 100% !important;
}

uni-checkbox-group uni-label {
  width: 33% !important;
  display: inline-flex;
  margin-bottom: 20rpx;
}

/*checkbox 选项框大小  */
uni-checkbox .uni-checkbox-input {
  width: 38rpx !important;
  height: 38rpx !important;
  border-radius: 50% !important;
}

/*checkbox选中后样式  */
uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked {
  background: #e43130;
  border: 1px solid transparent !important;
}

/*checkbox选中后图标样式  */
uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked::before {
  display: inline-block;
  width: 20rpx;
  height: 20rpx;
  line-height: 20rpx;
  text-align: center;
  font-size: 18rpx;
  color: #fff;
  background: transparent;
  transform: translate(-60%, -50%) scale(1);
}

/*
*改变radio样式
*自定义样式
*/
/* 未选中的 背景样式 */
uni-radio .uni-radio-input {
  height: 36rpx;
  width: 36rpx;
  border-radius: 50%;
  background: transparent;
  box-sizing: border-box;
}

/* 选中后的 背景样式 */
uni-radio .uni-radio-input.uni-radio-input-checked {
  border: none !important;
  background: #e43130 !important;
}

/* 选中后的 对勾样式 */
uni-radio .uni-radio-input.uni-radio-input-checked::before {
  border-radius: 50%;
  width: 32rpx;
  height: 32rpx;
  line-height: 32rpx;
  text-align: center;
  font-size: 20rpx;
  color: #fff;
  background: #e43130;
  transform: translate(-50%, -50%) scale(1);
}


/* loading */
.me-bg-loading::before {
  content: '' !important;
  position: fixed !important;
  z-index: 10 !important;
  left: calc((100vw - 300vmax) / 2) !important;
  top: calc((100vh - 300vmax) / 2) !important;
  width: 300vmax !important;
  height: 300vmax !important;
  display: inline-block;
  /* loading icon+动画 */
  background-size: 100rpx !important;
  /*noinspection CssOverwrittenProperties*/
  background-position: center !important;
}

@keyframes me-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}


/* 隐藏头部 */
/* #ifdef H5 */
uni-page-head {
  display: none;
}
/* #endif */

/* 新增底部tab挡住左侧分类tab点击 */
.uni-tabbar-bottom {
  bottom: 0 !important;
}

/* 解决使用ImgShow组件小程序图片不显示问题 */
img-show {
  width: 100% !important;
  height: 100% !important;
}

/* z-paging 返回顶部按钮的图片样式 */
.zp-back-to-top-img {
  width: 40rpx !important;
  height: 40rpx !important;
}

uni-button:after {
  display: none;
}

/* h5低版本浏览兼容 */
page {
  --mall4j-safe-area-inset-bottom: env(safe-area-inset-bottom);
}
/* #ifdef H5 */
page {
  --mall4j-safe-area-inset-bottom: 0px;
}
@supports (bottom: constant(safe-area-inset-bottom)){
  page {
    --mall4j-safe-area-inset-bottom: constant(safe-area-inset-bottom);
  }
}
@supports (bottom:env(safe-area-inset-bottom)){
  page {
    --mall4j-safe-area-inset-bottom: env(safe-area-inset-bottom);
  }
}
/* #endif */
/* h5低版本浏览兼容end */

/* 移除uni自带的cdn请求 */
page::after {
  content: none !important;
}

body::after {
  content: none !important;
}

/* 文本超出显示省略号，用于适配其它语言样式布局 */
.ellipsis {
  white-space: nowrap; /* 防止文本换行 */
  overflow: hidden; /* 隐藏超出容器的内容 */
  text-overflow: ellipsis; /* 超出部分显示省略号 */
}


.uni-app--showtabbar uni-page-wrapper::after {
  display: none;
}