<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yami.shop.delivery.common.dao.DeliveryOrderItemMapper">

  <resultMap id="deliveryOrderItemMap" type="com.yami.shop.delivery.common.model.DeliveryOrderItem">
    <id column="id" property="id" />
    <result column="order_delivery_id" property="orderDeliveryId"/>
    <result column="order_item_id" property="orderItemId"/>
    <result column="prod_count" property="prodCount"/>
  </resultMap>

</mapper>
