/* pages/pay-result/pay-result.wxss */
.page-pay-result {
  padding-top: 100rpx;
  .pay-sts {
    font-size: 40rpx;
    padding: 30rpx 0;
    text-align: center;
    &.fail {
      color: #f81a1a;
    }
    &.succ {
      color: #f81a1a;
    }
  }
  .btns {
    margin-top: 50rpx;
    text-align: center;
    .button {
      border-radius: 10rpx;
      font-size: 28rpx;
      background: #fff;
      color: #333;
      padding: 20rpx 35rpx;
      width: 300rpx;
      margin: 0 20rpx;
      text-align: center;
      &.checkorder {
        background: #f81a1a;
        color: #fff;
        margin-bottom: 20rpx;
        border: 2rpx solid #f81a1a;
      }
      &.payagain {
        background: #fff;
        border: 2rpx solid #f90;
        color: #f90;
      }
      &.shopcontinue {
        background: #fff;
        border: 2rpx solid #f81a1a;
        color: #f81a1a;
      }
    }
  }
  .tips {
    font-size: 28rpx;
    color: #999;
    text-align: center;
    .warn {
      color: #f81a1a;
    }
  }
}
